@charset "utf-8";
/* Globale uforminger */
a:hover {
	color: rgba(255,255,255,1.00);
}
/*header*/
header {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
/* Logo*/
#logo {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 139px;
	text-align: center;
	color: rgba(255,255,255,1.00);
	background-color: rgba(190,190,190,1.00);
}
/* div, link i header */
#headerLinks {
	float: left;
	width: calc( 100% - 139px );
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(255,255,255,1.00);
}
/* Link i header */
#headerLinks a {
	text-decoration: none;
	color: rgba(146,146,146,1.00);
	padding-left: 66px;
	font-size: 14px;
}

/* Hovedinnhold av side */
#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
}
/* Sidebar */
#content .sidebar {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	float: left;
	width: 20%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	background-color: rgba(246,246,246,1.00);
	padding-top: 36px;
	height: 784px;
}
/* hovedinnhold på side */
#content .hovedinnhold {
	float: left;
	width: 70%;
	text-align: center;
	padding-left: 4%;
}
/*Menybar´s egenskapa i sidebar */
#content .sidebar #menubar {
	text-align: left;
	color: rgba(146,146,146,1.00);
	position: relative;
	left: 0%;
}
/* Søkfelt i sidebar */
#content .sidebar #search {
	width: 100%;
	border-radius: 0px;
	height: 42px;
	text-align: center;
	color: rgba(208,207,207,1.00);
	font-size: 14px;
	margin-bottom: 21px;
}
/* Hele side innhold */
#mainWrapper {
	width: 80%;
	padding-left: 10%;
}
/*meny elementer */
.menu ul li {
	list-style-type: none;
	font-size: x-large;
	position: relative;
	left: -35px;
	padding-top: 12px;
}
/* Spiller rad innhold */
#content .hovedinnhold .spillerRad {
	overflow: auto;
	color: rgba(146,146,146,1.00);
}
/* Hvert produkt informasjon i katalog */
.hovedinnhold .spillerRad .spillerInfo {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	width: 22%;
}
/* Priser for spillere i katalog */
.spillerRad .spillerInfo .pris {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 22px;
	position: relative;
	top: -20px;
}
/* Navn holder for spillere i katalog */
.spillerRad .spillerInfo .spillerNavn {
	position: relative;
	top: -37px;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: rgba(146,146,146,1.00);
	white-space: pre-wrap;
}
/* Utforsk knapp for spillere i katalogBuy button for products in catalog */
.spillerRad .spillerInfo .utforskButton {
	position: relative;
	top: -48px;
	width: 84%;
	background-color: rgba(208,207,207,1.00);
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
}
/* footer */
#mainWrapper footer {
	clear: both;
	overflow: auto;
	background-color: rgba(208,207,207,1.00);
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	line-height: 1.8;
	padding-top: 22px;
	padding-left: 22px;
	text-align: center;
	padding-bottom: 22px;
	padding-right: 22px;
}
/*Footer innhold */
#mainWrapper footer div {
	width: 27%;
	float: left;
	padding-left: 4%;
	padding-right: 2%;
	color: rgba(255,255,255,1.00);
	text-align: justify;
}

/* Spillerbilder i katalog */
.spillerInfo div img {
	width: 100%;
}
/*Linker i sidebar */
.sidebar #menubar .menu ul li a {
	color: rgba(146,146,146,1.00);
	text-decoration: none;
}
.sidebar #menubar .menu ul li a:hover {
	color: rgba(107,97,97,1.00);
	text-decoration: none;
}
/* Meny headings i sidebar */
#menubar .menu h2 {
	font-size: 14px;
}
/*Linker under sidebar */
#menubar .menu ul li a {
	font-size: 14px;
}
/* meny i sidebar */
.sidebar #menubar .menu {
	margin-bottom: 29px;
}
/* Innhold for links i footer */
footer .footerlinks {
	margin-top: -15px;
}

/* Media query for tabeller */
@media screen and (max-width:700px) {
/* search field in sidebar */
#content .sidebar #search {
	display: none;
}
/* sidebar */
#content .sidebar {
	float: none;
	width: 100%;
	height: auto;
	overflow: auto;
	padding-left: 12%;
	padding-top: 0px;
}
/* Horisontal oppdeling i sidebar */
#content .sidebar hr {
	display: none;
}
/*The sidebar and hovedinnhold of page */
#content {
	position: relative;
	top: -22px;
	width: 100%;
	overflow: hidden;
}
/*Meny header i sidebar */
#menubar .menu h2 {
	display: inline;
	font-size: medium;
	padding-right: 6%;
}
/* Uordnet liste av linker */
#menubar .menu ul {
	display: inline;
}
/*list elements */
#menubar .menu ul li {
	display: inline;
	font-size: medium;
	padding-left: 0%;
	padding-right: 3%;
}
/* Skjul linker i mindre skjermstørrelser */
.sidebar #menubar .menu ul .notimp {
	display: none;
}
/* meny i sidebar */
.sidebar #menubar .menu {
	width: 100%;
	text-align: center;
	position: relative;
	top: 16px;
}
/*menybar i sidebar */
#content .sidebar #menubar {
	position: relative;
	left: -7%;
	overflow: hidden;
	width: 95%;
	padding-top: 0px;
}

#mainWrapper #offer p {
	font-size: small;
}
/* main innhold */
#mainWrapper #content .hovedinnhold {
	overflow: hidden;
	width: 95%;
	margin-top: 40px;
}
/* Pris på spiller i katalog */
.spillerRad .spillerInfo .pris {
	font-size: 19px;
}
/* Navn på spiller i katalog */
.spillerRad .spillerInfo .spillerNavn {
	font-size: 16px;
}
/* Utforsk knapp i katalog */
.spillerRad .spillerInfo .utforskButton {
	font-size: 15px;
}
/* Innhold for linker i footer */
#mainWrapper footer .footerlinks {
	float: none;
	width: 100%;
	position: relative;
	top: 17px;
	clear: both;
	text-align: center;
	left: 0%;
	padding-bottom: 19px;
}
/* Container for innhold */
#mainWrapper footer div {
	width: 44%;
	text-align: justify;
	font-size: 15px;
}
/* Linker i footer */
.footerlinks p a {
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline;
	padding-right: 35px;
}
/* Footer region */
#mainWrapper footer {
	padding-left: 16px;
	overflow: hidden;
}
/* Linker i header */
header #headerLinks a {
	padding-left: 0px;
	padding-right: 30px;
}
/* Main wrapper / offer */
#mainWrapper #offer {
	padding-left: 22%;
}

/*media query for mindre størrelser på skjerm */
@media screen and (max-width:480px) {
/*Container for links in header */
#mainWrapper header #headerLinks {
	width: 100%;
	text-align: center;
	background-color: rgba(190,190,190,1.00);
	padding-bottom: 21px;
}
/* Logo */
#mainWrapper header #logo {
	width: 100%;
	text-align: center;
}
/* Linker i header */
header #headerLinks a {
	text-align: center;
	padding-right: 15px;
	padding-left: 0px;
}
/*Offer - Tekst Banner */
#mainWrapper #offer {
	padding-left: 0px;
	text-align: center;
}
/* Menybar i sidebar */
#content .sidebar #menubar {
	position: relative;
	left: -8%;
	text-align: center;
}
/*Meny overskirft i sidebar */
#menubar .menu h2 {
	width: 100%;
	display: block;
}
/* Hver spiller i katalogen */
.hovedinnhold .spillerRad .spillerInfo {
	width: 100%;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	left: -2%;
}
#mainWrapper footer div {
	width: 100%;
	margin-left: -16px;
	text-align: justify;
	padding-bottom: 16px;
	overflow: auto;
}
/* Uordnet liste for menyelementer */
.menu ul {
	position: relative;
	padding-left: 24%;
}
/* Innhold for linker i footer */
#mainWrapper footer .footerlinks {
	padding-left: 8%;
}
/* Hovedinnhold uten sidebar */
#mainwrapper #content .hovedinnhold {
	margin-top: -81px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
}