
body {
	background-color: black;
	color: yellow;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

h1 {
	display: flex;
	justify-content: center;
	font-size: 50px;
}



/*tekstfeltet - søkbar*/
.search
{
	border: 1px solid #000000;
	overflow: auto;
	border-radius: 5px;
}

/*tekst i boks*/
.search input[type="text"]
{
	border: 0px;
	width: 95.5%;
	padding: 10px 10px;
}

/*søk input*/
.search input[type="text"]:focus
{
	outline: 0;
}

/*Submit knapp*/
.search input[type="submit"]
{
	border: 0px;
	background: none;
	background-color: #D9AD00;
	color: #fff;
	float: right;
	padding: 10px;
	border-radius-top-right: 5px;
	border-radius-bottom-right: 5px;
        cursor:pointer;
}

.Egenspiller {
		display: flex;
	width: 50%;
	justify-content: center;
	height: 100px;
	align-items: center;
	border: 2px solid #FEFEFE;
	padding: 10px;
	border-radius-top-right: 5px;
	border-radius-bottom-right: 5px;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 200px;
  align-items: center;
}