/*tekstfeltet - søkbar*/
.search
{
	border: 1px solid #000000;
	overflow: auto;
	border-radius: 5px;
}

/*tekst i boks*/
.search input[type="text"]
{
	border: 0px;
	width: 67%;
	padding: 10px 10px;
}

/*søk input*/
.search input[type="text"]:focus
{
	outline: 0;
}

/*Submit knapp*/
.search input[type="submit"]
{
	border: 0px;
	background: none;
	background-color: lightseagreen;
	color: #fff;
	float: right;
	padding: 10px;
	border-radius-top-right: 5px;
	border-radius-bottom-right: 5px;
        cursor:pointer;
}
